<html>
  <head>
    <title></title>
  </head>
  <body>
    <% @items.each do |t| -%>
    
    <div id="title">
      <%= t.title %>      
    </div>
    
    <div id="content">
      <div id="author">
        <%= t.dc_creator %>
      </div>
      <div id="text">
        <%= t.content_encoded %>
      </div>
    </div>
    
    <% end -%>
  </body>
</html>